:root {
    --text: oklch(0.75 0.145 67.748);
    --background: #222;
    --overlay: var(--background);

    --row-min-h: 60vh;
    --hero-height: 95vh;
}

* {
    margin: 0;
}

body {
    margin: 0;
    background: var(--background);
    color: var(--text);
    overflow-x: hidden;
    font-family: "Noticia Text", serif;
}

a {
    text-decoration: none;
}

header {
      height: 100vh;
      display: flex;
      flex-direction: column;
      position: relative;
}

.hero {
    display: flex;
    flex-direction: column;
    height: var(--hero-height);
    background: url("https://picsum.photos/1600/900") no-repeat center center/cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.navbar .logo {
    margin: 0 1.25rem;
    font-size: 1.5rem;
}

.navbar .logo a:link,
.navbar .logo a:visited {
    color: var(--text);
}

.navbar nav {
    display: flex;
}

.navbar nav a {
    /* border: 2px solid green; */
    padding: 1rem 1.25rem;
    /* display: inline-block; */
    transition: color 0.05s ease-in; 
}

.navbar nav a:link,
.navbar nav a:visited {
    color: var(--text);
}

.navbar nav a:hover,
.navbar nav a:active {
    color: var(--overlay);
}

.hero h1 {
    margin: auto 0;
    padding: 0 8%;
    text-align: center;
    font-size: 3rem;
}

.header-peek {
    display: flex;
    height: calc(100 - var(--hero-height));
    flex-direction: column;
    justify-content: space-between;
    place-items: center;
    margin: auto 0;
}

#call-to-action {
    text-align: center;
}

#explore-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    padding: auto 0;
}
.explore-btn {
    background: var(--text);
    border: 2px solid var(--text);
    border-radius: 6px;
    color: var(--background);
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 10vh 5.5rem;
    flex: 1;
    text-align: center;
}

.explore-btn:hover,
.explore-btn:active {
  background-color: initial;
  background-position: 0 0;
  color: var(--text);
}

.explore-btn:active {
  opacity: .5;
}

.container {
    padding: 3rem 8%;
}

.img-container {
    position: relative;
    display: grid;
    grid-template-areas: "stack";
    place-items: center;
}

.img-container > * {
    grid-area: stack;
}

.img-container .bg {
    z-index: 1;
    width: 100vw;
}

.img-container .content {
    z-index: 2;
}

footer {
    display: grid;
    place-items: center;
}

#social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.youtube-icon {
    stroke: var(--text);
    height: 50px;
    width: auto;
}

.youtube-icon:hover {
    transform: scale(1.1);
}

.instagram-icon {
    height: 50px;
    width: auto;
}

.instagram-icon:hover {
    transform: scale(1.1);
}

.linkedin-icon {
    height: 36px;
    padding: 7px 0; /* keep the link area the same size as the others */
    width: auto;
}

.linkedin-icon:hover {
    transform: scale(1.1);
}

footer hr {
    margin-bottom: 2rem;
    border: none;
    border-top: 2px solid var(--text);
    min-width: 90%;
}

footer p {
    padding: 1rem 1.25rem;
    text-align: center;
    max-width: 70%;
}
